/* 
	Thema naam: Tribute page
	Datum: December 2017
	Beschrijving: Basic HTML5/CSS3 layout met responsive framework
	Versie: 1.0
	Auteur: Randy de Vries

*/
body {
  background-image: url(http://www.dotfoods.com/images/cloud_background.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 87.5%;
  /*base fontsize is 14px*/
  font-family: Arial, "Lucida Sans Unicode";
  line-height: 1.5;
  text-align: left;
}
a {
  text-decoration: none;
}
a:link,
a:visited {
  color: #223a5e;
}
a:hover,
a:active {
  background-color: #223a5e;
  color: #fff;
}
.body {
  margin: 0 auto;
  width: 70%;
  clear: both;
}
.mainHeader img {
  width: 100%;
  height: auto;
  margin: 2% 0%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.mainHeader nav {
  background-color: #4c6a92;
  height: 40px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.mainHeader nav ul {
  list-style: none;
  margin: 0 auto;
}
.mainHeader nav ul li {
  display: inline;
}
.mainHeader nav a:link,
.mainHeader nav a:visited {
  color: #fff;
  display: inline-block;
  padding: 10px 25px;
  height: 20px;
}
.mainHeader nav a:hover,
.mainHeader nav a:active,
.mainHeader nav .active a:link,
.mainHeader nav .active a:visited {
  background-color: #223a5e;
  text-shadow: none;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.mainHeader nav ul li a {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.mainContent {
  line-height: 25px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.content {
  width: 70%;
  float: left;
}
.topContent {
  background-color: #deeaee;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 3% 5%;
  margin-top: 2%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.topContent img {
  float: left;
  padding: 5px 5px 5px 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  margin: 0% 1%;
}
.bottomContent {
  background-color: #deeaee;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 3% 5%;
  margin-top: 2%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.bottomContent img {
  float: left;
  padding: 5px 5px 5px 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  margin: 0% 1%;
}
.post-info {
  font-style: italic;
  color: #999;
  font-size: 90%;
}
.top-sidebar {
  width: 21%;
  float: left;
  background-color: #deeaee;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin: 2% 0 2% 3%;
  padding: 2% 3%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.middle-sidebar {
  width: 21%;
  float: left;
  background-color: #deeaee;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-left: 3%;
  margin-bottom: 2%;
  padding: 2% 3%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.bottom-sidebar {
  width: 21%;
  float: left;
  background-color: #deeaee;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-left: 3%;
  padding: 2% 3% 7%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.responsive {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* 4:3 */
  padding-top: 25px;
}
.responsive iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}
.mainFooter {
  width: 100%;
  height: 40px;
  float: left;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: #4c6a92;
  margin: 2% 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.mainFooter p {
  width: 92;
  margin: 10px auto;
  color: #fff;
  padding-left: 15px;
}
@media only screen and (min-width: 150px) and (max-width: 600px) {
  .body {
    width: 90%;
    font-size: 95%;
  }
  .mainHeader img {
    width: 100%;
  }
  .mainHeader nav {
    height: 160px;
  }
  .mainHeader nav ul {
    padding-left: 0;
  }
  .mainHeader nav ul li {
    width: 100%;
    text-align: center;
  }
  .mainHeader nav a:link,
  .mainHeader nav a:visited {
    padding: 10px 25px;
    height: 20px;
    display: block;
  }
  .content {
    width: 100%;
    float: left;
    margin-top: 2%;
  }
  .post-info {
    display: none;
  }

  .topContent {
    background-color: #deeaee;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 3% 5%;
    margin-top: 3%;
    margin-bottom: 4%;
  }
  .bottomContent {
    margin-top: 3%;
  }
  .top-sidebar {
    width: 94%;
    margin: 2% 0 2% 0%;
    padding: 2% 3%;
  }
  .middle-sidebar {
    width: 94%;
    margin: 2% 0 2% 0%;
    padding: 2% 3%;
  }

  .bottom-sidebar {
    width: 94%;
    float: right;
    margin: 2% 0 15% 0%;
    padding: 2% 3% 8%;
  }
}
.responsive {
  width: 100%;
  position: relative;
  padding-bottom: 56.25%; /* 4:3 */
  height: 0;
}
.responsive iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}
